<md-tabs class="margin-under-header">
    <md-tab ng-repeat="category in categories" md-on-deselect="closeForm()">
        <md-tab-label >
            <i >{{category[lang].name}}</i>
        </md-tab-label>
        <div class="grid-card-form" ng-show="subCategorySelected" ng-style="{'top':topPx}">
            <div class="row row-form">
                <div class="card card-left" ng-click="closeForm()">
                    <div  class="item item-divider card-category" ng-style="{'background-color':subCategorySelected.color}">
                        {{subCategorySelected[lang].name}}
                    </div>
                </div>
                <div  class="card card-right">
                    <div  class="item" >
        <span>
        Ma position <i class="ion-chevron-down" ></i>
        </span>
        <span>
        04/02/2015 0h30 <i class="ion-chevron-down" ng-click="showDate()"></i>
        </span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div  class="card card-services">
                    <div class="row" ng-repeat="service in subCategorySelected.services">
                        <i class="padding-center ion-information-circled" ng-show="service[lang].info!=''" ng-click="openModal(service[lang].info)" ></i>
                        <i class="padding-12" ng-hide="service[lang].info!=''"></i>
                        <ion-radio  class="no-border">
                            {{service[lang].name}}
                        </ion-radio>

                    </div>
                </div>
            </div>
        </div>

        <div class="grid-card-form" ng-show="subCategorySelectedRight" ng-style="{'top':topPx}">
            <div class="row row-form">
                <div class="card card-right">
                    <div  class="item" >
                        <span>
                            <i class="ion-location" ></i>
                            <ion-google-place placeholder="A proximité" ng-model="location" />
                        </span>
                        <span>
                            <i class="ion-calendar" ng-click="showDate()"></i> 04/02/2015
                        </span>
                         <span>
                            <i class="ion-clock" ng-click="showDate()"></i> 0h30
                        </span>
                    </div>
                </div>
                <div  class="card card-left"  ng-click="closeForm()">
                    <div  class="item item-divider card-category" ng-style="{'background-color':subCategorySelectedRight.color}">
                        {{subCategorySelectedRight[lang].name}}
                    </div>


                </div>
            </div>
            <div class="row">
                <div  class="card card-services">
                    <md-radio-group ng-model="data.group1">
                        <div class="row" ng-repeat="service in subCategorySelectedRight.services">
                            <md-radio-button value="{{service.id}}" class="width-100"> {{service[lang].name}}</md-radio-button>
                            <i class="width-100 padding-center ion-information-circled" ng-show="service[lang].info!=''" ng-click="showAdvanced($event,subCategorySelectedRight)" ></i>

                        </div>
                    </md-radio-group>
                    <div class="button-padding">
                        <md-button class="md-raised md-primary width-100" ui-sref="app.list">TROUVER</md-button>
                    </div>

                </div>
            </div>

        </div>
        <div class="grid-card" >
            <div class="row" ng-repeat="subCategory in category.subCategories" ng-show="$even">
                <div class="col col-center" >
                    <div class="card" ng-click="showForm($event,subCategory)">
                        <div  class="item item-divider card-category" ng-style="{'background-color':subCategory.color}">
                            {{subCategory[lang].name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-card odd-card">
            <div class="row" ng-repeat="subCategory in category.subCategories" ng-show="$odd">
                <div class="col col-center" >
                    <div class="card" ng-click="showFormRight($event,subCategory)" delegate-handle="{{subCategory.id}}">
                        <div  class="item item-divider card-category" ng-style="{'background-color':subCategory.color}">
                            {{subCategory[lang].name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </md-tab>
</md-tabs>










