/* Empty. Add your own CSS if you like */
.img-menu-profile{
    top: 5px !important;
    left: 16px !important;
}

.menu-account{
    height: 90px !important;
}

.menu-after-account{
    padding-top: 45px !important;
    background-color: #387ef5 ;
}

.link-account{
    position: absolute;
    bottom: 16px;
    font-size: 16px;
    left: 16px;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.bg-menu>a{
    color: #fff !important;
    background-color: #387ef5 !important;
}

.size-logo{
    width: 100px;
    padding-top: 5px;
}

.left-menu-size{
    width: 150px;
}

.input-search{
    background-color: transparent;
    border: none;
    width: 150px;
}

.card-category{
    text-align: center;
    height: 150px;
    width: 150px;
    padding-top: 60px;
}

.grid-card{
    width: 50%;
    float: left;
}

.grid-card-form{
    width: 100%;
    float: left;
    position: absolute;
    z-index: 10000;
   /* top:453px; /*-25px*/
    left:5px;
}

.odd-card{
    padding-top: 10px;
}

.card-left{
    margin-right: 22px;
    z-index: 100;
}

.card-right{
    margin-left: -1px;
    max-width: 190px;
}

.card-right > .item > span{
    float: left;
    margin-bottom: 20px;
}

.row-form > .card {
    margin-bottom: 0px;
}

.card-services{
    margin-top: 10px;
    width: 100%;
    margin-left: 0px;
}

.padding-center{
    padding-top: 15px;
}

.no-border{
    border-style: none;
}

.padding-12{
    padding-left: 15px;
}

.close-form{
    position: absolute;
    padding-top: 20px;
}

.margin-under-header{
    margin-top: 40px;
}


.card-category{
  color: #fff;
}

/*//fix bug scroll content tab: https://github.com/angular/material/issues/913*/
md-tabs {
      overflow: auto !important;
}

.width-100{
    width: 100%;
}

.button-padding{
    padding: 10px;
}


.card-criteria{
    width: 100px;
    float: left;
    text-align: center;
    background-color: rgb(0, 150, 136);
    color: #ffffff;
    margin: 5px;
}

.card-time{
    width: 100px;
    float: left;
    text-align: center;
    background-color: rgb(0, 150, 136);
    color: #ffffff;
    margin: 5px;
}

.list-content{
    float: left;
}